.result-block {
  margin-top: 30px;
  &__answer {
    border-radius: 5px;
    padding: 15px;
  }
  &__correct {
    background-color: rgba($green, .2);
  }
  &__incorrect {
    background-color: rgba($danger, .2);
  }
  &__real {
    margin-top: 10px;
    background-color: rgba($blue, .81);
  }
}